<%= form_for [project, comment] do |f| %>
<% comment.errors.full_messages.each do |m|%>
<p>
  <%= m %>
</p>
<% end %>
  <div class="field">
    <%= f.label :text %>
<<<<<<< HEAD
    <%= f.text_field :text  %>
  </div>

  <div class="actions">
    <%= f.submit data: { confirm: "Your Comment Has Been Saved!"} %>
=======
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit data: { confirm: "You have made a comment!"} %>
>>>>>>> 573784d07e12803b8651b229c3d80d72aa661102
  </div>
<% end %>
