<%= form_for [project, comment] do |f| %>
<% comment.errors.full_messages.each do |m|%>
<p>
  <%= m %>
</p>
<% end %>
  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text  %>
  </div>

  <div class="actions">
    <%= f.submit data: { confirm: "Your Comment Has Been Saved!"} %>
  </div>
<% end %>
