<h2>ADD A REWARD FOR <%= @project.title %></h2>

<%= form_for [@project, @reward] do |f| %>
  <div class="form-group">
    <%= f.label :dollar_amount %>
    <%= f.number_field :dollar_amount, step: 0.01, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <%= f.submit class: 'btn btn-outline-primary' %>
<% end %>
