<!DOCTYPE html>
<html>
  <head>
    <title>Crowdfunder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Didact+Gothic|Nunito:200" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= @dark_theme ? 'dark' : nil %>">
    <header>
      <h1 class="logo">Crowdfunder</h1>
      <%= render 'partials/nav' %>
    </header>

    <% flash.each do |key, message| %>
      <div class="flash-<%= key %>"><%= message %></div>
    <% end %>

    <main>
      <%= yield %>
    </main>
    <!-- credit: Default Photo by Marek Szturc on Unsplash -->
  </body>
</html>
